@using System.Runtime.InteropServices
@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<p>@fact(3)</p>

@code {
    [DllImport("Test")]
    static extern int fact(int n);

    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
